@charset "utf-8";

@font-face {
  font-family: "Ownglyph_Dailyokja-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/Ownglyph_Dailyokja-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: rgba(182, 218, 250, 0.5); */
  /* font-family: "Ownglyph_Dailyokja-Rg"; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

/* header */
.lee_title {
  font-family: "Ownglyph_Dailyokja-Rg";
  height: 80px;
  /* background-color: rgba(63, 165, 255, 0.5); */

  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
}
.lee_title .wrap {
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: red; */
}

.lee_title .wrap .logo {
}
.lee_title .wrap .logo a {
}
.lee_title .wrap .logo a img {
  height: 60px;
}
.lee_title .search_box {
  display: flex;
  margin: 0 auto;
  height: 30px;
  width: 60%;
  /* background-color: blue; */
  justify-content: center;
}
.lee_title .search_box .search img {
  width: 30px;
  margin-right: 10px;
}
.lee_title .search_box input {
  width: 300px;
  border: 1px solid #000;
  background-color: transparent;
  border-radius: 30px;
}

/* 햄버거 아이콘 설정 */
.lee_title .wrap .menu_icon {
  position: fixed;
  top: 15px;
  right: 25px;
}
.lee_title .wrap .menu_icon button {
  border: none;
  background-color: transparent;
  font-size: 40px;
  cursor: pointer;
}
.lee_title .wrap .menu {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
}
.lee_title .wrap .menu.active {
  transform: translateX(0%);
  transition: transform 0.5s;
  z-index: 2;
}
.lee_title .wrap .menu .close {
  position: absolute;
  top: 10px;
  font-size: 30px;
  transform: rotate(45deg);
  color: #bbb;
  cursor: pointer;
}
.lee_title .wrap .menu .close:hover {
  color: #fff;
}
.lee_title .wrap .menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 30px;
}
.lee_title .wrap .menu ul li {
  text-align: center;
  font-size: 20px;
}
.lee_title .wrap .menu ul li a {
  color: #bbb;
  opacity: 0;
}
.lee_title .wrap .menu ul li a:hover {
  color: #fff;
}
.lee_title .wrap .menu.active ul li a {
  opacity: 1;
  transition: opacity 1.5s;
  transition-delay: calc(0.5s * var(--i));
}

/* section */
#year .year {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}
#year .year .left {
  position: absolute;
  top: 300px;
  left: 70px;
  border: none;
  background-color: transparent;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}
#year .year .right {
  position: absolute;
  top: 300px;
  right: 70px;
  border: none;
  background-color: transparent;
  font-size: 50px;
  cursor: pointer;
  color: #fff;
}
#year .year .img_all {
  width: 100%;
  height: 450px;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url(../img/year_1.jpeg);
  margin: 0 auto;
}

/* intro */
#intro {
  font-family: "Ownglyph_Dailyokja-Rg";
  padding-bottom: 50px;
  border-bottom: 1px solid #e5e5e5;
}
#intro .word {
  margin-top: 50px;
  text-align: center;
  font-size: 3em;
  /* font-family: "Ownglyph_Dailyokja-Rg"; */
}
#intro .family_img {
  margin-top: 10px;
  text-align: center;
  font-size: 0;
}
#intro .family_img .family {
  width: 230px;
  height: 200px;
  display: inline-block;
  margin: 0 10px;
}
#intro .family_img .family img {
  width: 60%;
}
#intro .family_btn {
  text-align: center;
}
#intro .family_btn a {
  font-family: "Ownglyph_Dailyokja-Rg";
  border: 2px solid #000;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  font-size: 1.5em;
  transition: 0.5s;
}
#intro .family_btn a:hover {
  background-color: #999;
  color: #fff;
}
/* mode 관련 */
#mode {
  font-family: "Ownglyph_Dailyokja-Rg";
  width: 80%;
  margin: 20px auto 50px;
  /* border: 2px dashed blue; */
}
#mode .young {
  position: relative;
  background-color: #f3eeea;
  border-radius: 10px;
  padding: 23px 0;
  margin-right: 5px;
}
#mode .young:hover {
  background-color: #faf7f5;
}
#mode .young h4 {
  font-size: 2.5em;
  text-align: center;
}
#mode .young h6 {
  font-size: 1.2em;
  text-align: center;
}
#mode .young ul {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}
#mode .young ul li {
  padding-left: -5px;
  width: 40%;
  padding: 20px;
  border: 1px solid #d9d8d8;
  font-size: 1.3em;
  /* 두 번째 li에서도 before의 marker가 표현되려면 아래를 써야 한다. */
  position: relative;
}
#mode .young ul li::before {
  content: "";
  position: absolute;
  background-color: #000;
  width: 3px;
  height: 3px;
  top: 0;
  bottom: 0;
  left: 9px;
  margin: auto 0;
}
#mode .young ul li:nth-child(1) {
  border-right: 0;
}
#mode .young a {
  font-family: arial;
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  padding: 2px 7px;
}
#mode .young a:hover {
  background-color: red;
  transition: 0.3s;
}

#mode .now {
  width: 100%;
  margin-left: 20px;
  /* border: 1px solid red; */
  background-color: #d8b186;
  border-radius: 10px;
  text-align: center;
  padding: 34px 0;
  background-image: url(../img/now_img.png);
  background-repeat: no-repeat;
  background-position: right -90px top -155px;
}
#mode .now:hover {
  background-color: #f0cba3;
  background-position: right -35px top -175px;
  transition: 1s;
}
#mode .now h4 {
  font-size: 2.5em;
  text-align: center;
}
#mode .now h6 {
  font-size: 1.2em;
  text-align: center;
}
#mode .now a {
  font-family: "Ownglyph_Dailyokja-Rg";
  display: inline-block;
  width: 300px;
  margin-top: 20px;
  border: 1px solid #bb9162;
  padding: 10px;
  background-color: transparent;
  font-size: 1.2em;
  cursor: pointer;
}
#mode .now a:hover {
  background-color: #ad9071;
  transition: 0.5s;
  color: #fff;
}
#mode .now a::after {
  content: "＞";
  margin-left: 180px;
  font-weight: 1000;
}

/* footer 관련 */
#footer {
  font-family: "Ownglyph_Dailyokja-Rg";
  color: #fff;
  background-color: #333;
  height: 200px;
}
#footer .address {
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
  border-bottom: 1px solid #424242;
}
#footer .link {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;
}
#footer .link a {
  display: flex;
  justify-content: flex-end;
  color: #fff;
}
#footer .link a p {
  margin-left: 10px;
}
/* 미디어 쿼리 */
@media all and (min-width: 320px) {
  /* 이미지 관련 */
  #year .year .left {
    top: 230px;
    left: 10px;
  }
  #year .year .right {
    top: 230px;
    right: 10px;
  }
  #year .year .img_all {
    width: 100%;
    height: 350px;
  }

  /* intro 관련 */
  #intro {
    margin-top: -250px;
  }

  /* mode 관련 */
  #mode .young {
    display: block;
    margin: 10px auto;
    width: 100%;
  }
  #mode .now {
    display: block;
    margin: 10px auto;
    width: 100%;
  }
}
@media all and (min-width: 768px) {
  /* 이미지 관련 */
  #year .year .left {
    top: 300px;
    left: 20px;
  }
  #year .year .right {
    top: 300px;
    right: 20px;
  }
  #year .year .img_all {
    width: 100%;
    height: 500px;
  }

  /* intro 관련 */
  #intro {
    margin-top: -100px;
  }

  /* mode 관련 */
  #mode .young {
    display: block;
    margin: 10px auto;
    width: 100%;
  }
  #mode .now {
    display: block;
    margin: 10px auto;
    width: 100%;
  }
}
@media all and (min-width: 1024px) {
  /* 이미지 관련 */
  #year .year .left {
    top: 370px;
    left: 15px;
  }
  #year .year .right {
    top: 370px;
    right: 15px;
  }
  #year .year .img_all {
    width: 100%;
    height: 600px;
  }

  /* intro 관련 */
  #intro .word {
    margin-top: 150px;
  }
  /* mode 관련 */
  #mode {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #mode .young {
    width: 1100px;
    margin-right: 10px;
  }
  #mode .now {
    width: 1100px;
    margin-left: 10px;
  }
}
